.allservices {
    padding: 100px 0 ;
    background-color: #5F12D0;
    &-text-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 70px;
    }
    &-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 52.66px;
        text-align: left;
        color: #FFFFFF;
    }
    &-link {
        background-color: #4985FF;;
        width: 125px;
        height: 20px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px; 
        text-align: center;
        padding: 13px 36px 15px 36px;
        border-radius: 50px;
        margin-top: 20px;
        }
        &-list {
            display: flex;
        }
        &-list-title {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &-list-title::before {
            content: "01. ";
            color: #4985FF;
        }
        &-list-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.36px;
        text-align: left;
        color: #999999;
        margin-bottom: 47px;
        }
        &-list-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: left;
        color: #4985FF;
        }
}