.hero {
    background-image: url("../images/Rectangle.jpg");
   background-repeat:  no-repeat;
    padding: 315px 0 335px 0;
    &-text {
        text-align: center;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        text-align: center;
        margin-bottom:  20px;
    }
    &-title {
        text-align: center;
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 800;
        line-height: 64.36px;
        text-align: center;
        margin-bottom:  50px;        
    }
    &-link {
        background-color: #4985FF;;
        width: 125px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px; 
        text-align: center;
        padding: 13px 36px 15px 36px;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
    }
}