.services {
    padding: 110px 0;
    &-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 52.66px;
        text-align: center;
        margin-bottom: 32px;
    }
    &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.36px;
        text-align: center;
        color: #999999;
        max-width: 730px;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    &-list {
        display: flex;
        justify-content: center;
        gap:  27px;
        margin-bottom:  55px;
    }
    &-list-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: left;
    }
    &-list-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 22.19px;
        text-align: left;
        color: #999999;
    }
    &-link {
        background-color: #4985FF;;
        width: 125px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px; 
        text-align: center;
        padding: 13px 36px 15px 36px;
        border-radius: 50px;
        display: block;
        margin: 0 auto;
    }
    &-item-wrap {
        display: flex;
        gap: 17px;
}
}