.subscribe {
    padding: 85px;
    &-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        text-align: center;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.36px;
        text-align: center;
        color: #999999;
        margin-bottom: 30px;
    }
    &-form {
        box-shadow: 0 0 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px;
        border: 1px solid #F2F2F2;
        width: 489px;
        height: 45px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    &-form-input {
        width: 299px;
        height: 45px;
        border-radius: 50px;
        border: none;
    }
    &-form-btn {
        width: 190px;
        height: 45px;
        background-color: #4985FF;
        border-radius: 0px 30px 30px 0px; 
        font-size: 16px;
        font-weight: 500;
        line-height: 19.5px;
        color: #FFFFFF;
    }
}