.video {
    padding: 70px 0;
    background-image: url(../images/Rectangle.jpg);
    background-repeat: no-repeat;
    &-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 52.66px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 30px;
    }
    &-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.36px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 70px;
    }
    &-image {
        background-image: url("/images/video.png");
        width: 970px;
        height: 340px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-btn {
        background: transparent;
        border: 1px solid#FFFFFF;
        border-radius: 50px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 25.36px;
        width: 300px;
        height: 100px;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
    }
}